image-viewer-header.flex.column(
  ng-if="vm.file && !vm.ranksConfirmed"
  title ="{{vm.title}}"
  handle="{{vm.submissionNumber}}"
  toggle-comments="vm.toggleComments()"
  download-url="vm.file.url"
  download-allowed="true"
  comments-allowed="true"
  hide-user-info="true"
)

image-viewer-header.flex.column(
  ng-if="vm.file && vm.ranksConfirmed"
  title ="{{vm.title}}"
  handle="{{vm.submitterHandle}}"
  avatar="{{vm.submitterAvatar}}"
  toggle-comments="vm.toggleComments()"
  download-url="vm.file.url"
  download-allowed="true"
  comments-allowed="true"
)

image-slide-viewer.flex.flex-grow(
  on-file-change="vm.onFileChange(file)"
  files="vm.files"
  starting-file="vm.startingFile"
  show-notifications="true"
)

include parts/messaging
